/* css Reset */
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* css variables */
:root {
    --navbar-height: 59px;
}

#navbar {
    top: 0px;
    display: flex;
    /* align-items: center; */
    position: relative;
     /* justify-content: center; */
     position: sticky;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
    top: 0px;
    left: 0px;
}

#navbar ul li a {
    padding: 3px 22px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    color: white;

}

#navbar ul li a:hover {
    text-shadow: 2px;

    color: rgb(8, 6, 6);
    /* display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none; */
    background-color: aliceblue;
}

/* Logo styling */
#logo {
    margin: 0px;
}

#logo img {
    margin: auto;
    height: 90px;
}

/* list item styling */
/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 50px;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#home::before {
    content: "";
    position: absolute;
    background: url('../img/home1.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

/* Utility class */
#home h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Acme';
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Acme';
    font-size: 22px;

}

.h-secondary1 {
    padding-top: 5px;
    font-size: 2.2rem;
    /* padding: 35px; */
    text-align: center;


}

.h-primary {
    font-size: 1.3rem;
    padding: 12px;

}

.btn {
    padding: 6px 20px;
    margin: 10px;
    border: 2px solid white;
    background-color: aqua;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
}

.center {
    text-align: center;
}

/* Servies center */
#services {
    margin: 10px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    /* display: flex; */
    /* height: 100px; */
    background-color: aqua;
    padding: 44px;
    margin: 3px 4px;
    border-radius: 28px;
    background: wheat;

}

#services .box img {
    align-items: center;

    height: 200px;
    align-items: center;
    display: flex;
    margin: auto;
    padding-bottom: 5px;
}

/* client section */
#client-section {
    /* height: 200px; */
    position: relative;

}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 150px; */

}

.clients img {
    height: 124px;
    padding: 35px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(../img/cookies-2991174_640.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    opacity: .8;
    z-index: -1;
}
/* Contact section */
#contact{
    position: relative;
    height: 330px;
    
    color: #9d2121;
}
.form-group{
    /* display: flex; */
        padding: 5px;
    font-size: 21px ;
    font-weight: 100;
    color: aliceblue;
    border-radius: 9px;
    text-align: center;
    width: 100%;
    /* width: max-content; */
} 
.form-group label{
    text-align:center;
    line-break: normal;
    display: inline-flex;
}
 #contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 1.5rem;
    

}
#contact-box form{
    width: 40%;
    color: antiquewhite;
    
}
#contact-box label{
    font-size: 1.5 rem;
    color: aliceblue;
} 
#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/cookies-2991174_640.jpg) no-repeat center center/cover;
}

footer{
    background: black;
    color: aliceblue;
    padding: 20px 20px;
}