@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: wheat;
    padding: 12px;
}
.logo{
    /* width: 30%; */
filter: invert();
padding-left: 40px;  
justify-content: center;
position: relative;

}
.logo span{
color: rgb(16, 15, 14);
position: absolute;
width: 40px;
margin-left: 30px;
/* justify-content: center; */
}
ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0 13px;
    font-size: 13px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul>li>a:hover {
    color: rgb(215, 176, 176);
}

main {
    min-height: 100vh;
    padding: 2px;

}

.container {
    background-color: bisque;
    max-width: 80vw;
    margin: auto;
    padding: 15px;
}
input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius:  4px;
    font-size: 20px;
}
#submitbtn {
    padding: 5px 10px;
    border: 2px solid rgb(190, 167, 167);
    background-color: rgb(8, 17, 17);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#resultcont
div::first-letter{
    text-transform: uppercase;
}
footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px){
    body{
        background-color: rgb(213, 230, 224);
    }
    .container{
        font-size: 12px;
        background-color: beige;
    }
    nav{
        flex-direction: column;
        padding-top: 10px 15px;
    }
    .logo{
        padding: 4px 4px;
        margin-bottom: 20px;
        width: 20px;
        height: 20px;
    }
    .logo sona{
        font-size: 20px;
    }
}